/*GLOBAL*/
html,
body {
  padding: 0;
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
}

h1,h2,h3,h4,h5,h6,
img {
  padding: 0;
  margin: 0;
}
a:hover {
  text-decoration: none;
}


.container {
  transition: all .6s ease;
}


/*HEADER*/
.main-navbar {
  padding: 37px 60px 37px;
  min-height: 124px;
  border: none;
  margin-bottom: 0;
  background: #fff;
}


.main-navbar .navbar-nav > li > a {
  padding: 17px 12px;
  font-family: "Rubik Medium", Fallback, sans-serif;
  font-size: 14px;
  color: #4e565e;
  text-transform: uppercase;
}
.main-navbar .navbar-nav > li > a.active {
  color: #2788e6;
  -webkit-text-shadow: 0px 0px 30px rgba(39, 136, 230, 0.48);
  -moz-text-shadow: 0px 0px 30px rgba(39, 136, 230, 0.48);
  text-shadow: 0px 0px 30px rgba(39, 136, 230, 0.48);
}

.main-navbar .navbar-nav > li > a:hover,
.main-navbar .navbar-nav > li > a:focus {
  color: #2788e6;
}
.navbar-brand {
  margin-top: -5px;
}
.navbar-brand img {
  width: 25px;
  float: left;
  margin-right: 7px;
}
.navbar-brand h1 {
  float: right;
  font-family: "Rubik Medium", Fallback, sans-serif;
  font-size: 31.68px;
  color: #1478d8;
  margin-top: 0;
}
.navbar-brand h1 span {
  color: #5cabf7;
}

.main-navbar .navbar-toggle {
  border:none;
}
.main-navbar .navbar-toggle .icon-bar {
  background-color: #1478d8;
}
.main-navbar .navbar-toggle:hover, .main-navbar .navbar-toggle:focus {
  background-color: transparent;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.border-info-3 {
  border: 2px solid rgb(23 162 184)!important;
}
.ico-check{
  display: inline-block;
  vertical-align: middle;
  background: url(../public/pictures/Icon-Check.png) no-repeat;
  width: 30px;
  height: 30px;
}
.ride-item {
  border-radius: 1.25rem!important;
}
.ride-list .ride-item{
  padding: 8px 24px 0 18px;
}
.ride-item .ride-img{
  position: relative;
  display: block;
  margin-right: 14px;
  width: 93px;
  height: 93px;
  border-radius: 100%;
  position: relative;
  border: 1px solid #ebebeb;
}
.ride-img img{
  width: 93px;
  height: 93px;
  border-radius: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}
.ride-img .af-icon{
  position: absolute;
  right: 0;
  bottom: 0;
}
.ride-item .content-header{
  font-family: 'Rubik Regular', Fallback, sans-serif;
  font-size: 25px;
  line-height: normal;
  letter-spacing: -0.023em;
  color: #2788e6;
  margin-bottom: 4px;
}
.ride-item .media-body .content-city{
  font-family: 'Rubik Medium', Fallback, sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  color: #44484c;
  text-transform: uppercase;
}
.ride-item .media-body p{
  font-family: 'Rubik Light', Fallback, sans-serif;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0;
  color: #767676;
  margin-bottom: 2px;
}
.ride-item .price-text{
  font-family: 'Rubik Regular', Fallback, sans-serif;
  font-size: 32px;
  line-height: normal;
  letter-spacing: -0.023em;
  color: #2788e6;
  margin-left: auto;
}
.ride-item .right-content{
  text-align: right;
  padding-top: 20px;
}
.ride-item .media-body .seats-avail{
  color: #65ac26;
}
@media screen and (max-width: 767px) {
  /* --- General --- */
  .ride-form .over-text {
    font-size: 32px;
  }

  /* --- Find A Ride --- */
  .ride-form .find-form-wrapper .input-leaving,
  .ride-form .find-form-wrapper .input-going {
    width: 100%;
  }

  .ride-list {
    padding-top: 30px;
  }

  .ride-item .left-content {
    width: 50%;
    float: left;
  }

  .ride-item .right-content {
    width: 50%;
    float: left;
  }
}
@media screen and (max-width: 489px) {
  /* --- Find A Ride --- */
  .ride-item .left-content {
    width: 100%;
    float: none;
  }

  .ride-item .right-content {
    width: 100%;
    float: none;
    text-align: left;
  }
}
.hero-wrapper {
  background: url(../public/pictures/hero1.jpg) no-repeat;
  padding: 100px 0 0 0;
}
.hero-wrapper h1 {
  font-family: "Rubik Light", Fallback, sans-serif;
  color: #2788e6;
}
.hero-wrapper p {
  color: #2a2a2a;
  font-family: "Rubik Light", Fallback, sans-serif;
  opacity: 0.7;
  line-height: 32px;
}
@media (min-width: 992px) {
  .hero-wrapper {
    background-size: 65%;
    background-position: 100% 50px;
  }
  .hero-wrapper h1 {
    font-size: 45px;
    width: 430px;
    margin-bottom: 30px;
  }
  .hero-wrapper p {
    font-size: 18px;
    max-width: 430px;
    padding-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .hero-wrapper {
    background-size: 65%;
    background-position: 100% 50px;
  }
  .hero-wrapper h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .hero-wrapper p {
    font-size: 18px;
    max-width: 430px;
    padding-bottom: 100px;
  }
}


.feature-img {
  margin-bottom: 34px;

}
.feature-img img {
  width: 100%;
  max-width: 370px;
}

.find-form {
  background: url(../public/pictures/Pattern1.jpg) no-repeat;
  background-size: 100%;
  background-position: 0 100%;
}
@media (max-width: 681px) {
  .find-form {
    margin-top: -60px;
  }
}
.find-form-wrapper {
  background: #fff;
  padding: 25px 24px 25px 15px;
  box-shadow: 0px 0px 40px -2px rgba(218,218,218, 0.45);
  margin-bottom: 42px;
}
.wraping {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}

.find-form-wrapper .group-input {
  position: relative;
  margin: 0 9px;
  width:26%;
}
.find-form-wrapper .field {
  margin-bottom: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  background: #fdfdfd;
}
@media (min-width: 1200px) {
  .find-form-wrapper .field {
    max-width: 300px;
  }
}
.find-form-wrapper .group-input .field {
  padding-left: 45px;
}
.find-form-wrapper .group-input span {
  position: absolute;
  top: 20px;
  left: 15px;
}
.find-form-wrapper .group-input:nth-child(4),
.find-form-wrapper .group-input:nth-child(5),
.find-form-wrapper .group-input:nth-child(6) {
  width: initial;
}
.find-form-wrapper .group-input .find-btn {
  width: initial;
  padding: 24px 37px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Rubik Medium", Fallback, sans-serif;
  line-height: initial;
  background: #2788e6;
  color: #fff;
}
.find-form-wrapper .group-input .offer-btn {
  background: #eab244;
}
.find-form-wrapper .circle {
  width: 10%;
  position: relative;
}
.circle-or {
  width: 42px;
  height: 42px;
  border: 1px solid #d7dfe8;
  position: relative;
  border-radius: 50%;
  padding: 10px;
  padding-top: 10px;
  font-family: "Rubik Medium", Fallback, sans-serif;
  color: #b2c1cf;
  font-size: 14px;
  margin: 10px 14px;
}
.circle::before {
  content: " ";
  position: absolute;
  width: 1px;
  top: -25px;
  left: 50%;
  height: 35px;
  background: #f0f0f0;
}
.circle::after {
  content: " ";
  position: absolute;
  width: 1px;
  bottom: -25px;
  left: 50%;
  height: 40px;
  background: #f0f0f0;
}

@media (max-width: 1320px){
  .find-form-wrapper .circle-or {
    margin: 10px auto;
  }
  .find-form-wrapper .group-input .find-btn {
    margin: 0;
    padding: 24px 21px;
  }
}
@media (max-width: 1091px) {
  .find-form-wrapper .group-input:nth-child(1),
  .find-form-wrapper .group-input:nth-child(2),
  .find-form-wrapper .group-input:nth-child(3) {
    width: 30.5%;
    margin-bottom: 20px;
  }
  .find-form-wrapper .group-input:nth-child(4),
  .find-form-wrapper .group-input:nth-child(6) {
    width: 41%;
    margin-bottom: 20px;
  }
  .find-form-wrapper .group-input:nth-child(5){
    width: 10%;
  }

  .find-form-wrapper .group-input .find-btn {
    margin: 0;
    padding: 24px 21px;
    width: 100%;
  }
  .circle::before,
  .circle::after {
    display: none;
  }
}

@media (max-width: 792px){
  .find-form-wrapper .group-input:nth-child(1),
  .find-form-wrapper .group-input:nth-child(2),
  .find-form-wrapper .group-input:nth-child(3) {
    width: 30%;
    margin-bottom: 20px;
  }
  .find-form-wrapper .group-input:nth-child(4),
  .find-form-wrapper .group-input:nth-child(6) {
    width: 40%;
    margin-bottom: 20px;
  }
  .find-form-wrapper .group-input:nth-child(5){
    width: 9%;
    padding-left: 5px;
  }
}
@media (max-width: 792px){
  .find-form-wrapper .group-input:nth-child(1),
  .find-form-wrapper .group-input:nth-child(2),
  .find-form-wrapper .group-input:nth-child(3) {
    width: 100%;
    margin-bottom: 20px;
  }
  .find-form-wrapper .group-input:nth-child(4),
  .find-form-wrapper .group-input:nth-child(6) {
    width: 100%;
    margin-bottom: 20px;
  }
  .find-form-wrapper .group-input:nth-child(5){
    width: 100%;
    padding-left: 5px;
    margin-bottom: 20px;
  }
  .find-form-wrapper .circle-or {
    margin: 0 auto;
  }
  .find-btn {
    width: 100%;
  }
}

.field {
  font-family: "Rubik Regular", Fallback, sans-serif;
  font-size: 15px;
  color: #666;
  padding: 16px 22px;
  border-radius: 5px;
  border: 1px solid #d7dfe8;
  width: calc(100%);
  margin-bottom: 22px;
  line-height: normal;
}
@media(max-width: 465px){
  .contact-area .field,
  .signin-area .field,
  .signup-area .field {
    padding: 20px 4.78%;
    width: calc(100% - 9.56%);
  }
}

/*HOW IT WORKS*/
.how-it-works {
  font-family: "Rubik Light", Fallback, sans-serif;
}
.how-it-works .container,
.how-it-works .row,
.how-it-works .bg
{
  height: 100%
}
.how-it-works .header .bg, .how-it-works section.category-service .choose-category, .how-it-works section.category-service .category-content p.full-fill, .how-it-works section.category-service .category-content figure.category-img, .how-it-works section.featured-service .featured-product, .how-it-works section.featured-service .featured-product figure {
  display: flex;
  align-items: center;
}
.how-it-works p {
  font-size: 18px;
  line-height: 32px;
  color: #2a2a2a;
  opacity: 0.7;
}
.how-it-works .header {
  height: 600px;
  margin-bottom: 30px;
}
.how-it-works .header .bg {
  background: url("../public/pictures/hero-img.jpg") no-repeat;
  background-size: 839px auto;
  background-position: 427px center;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 993px) and (max-width: 1200px) {
  .how-it-works .header .bg {
    background-position: 290px center;
  }
}


@media (min-width: 1200px) {
  .homepage-hero h1 {
    max-width: 450px;
  }
}
.homepage-hero p {
  font-size: 18px;
  line-height: 32px;
  width: 100% !important;
}
@media (min-width: 1200px) {
  .homepage-hero p {
    max-width: 430px !important;
  }
}
@media (max-width: 1200px) {
  .homepage-hero p {
    font-size: 18px;
    line-height: 32px;
    max-width: 430px !important;
  }
}
@media (min-width: 800px) and (max-width: 992px) {
  .homepage-hero p {
    max-width: 320px !important;
  }
}
@media (max-width: 360px) {
  .homepage-hero h1 {
    font-size: 35px !important;
    margin-bottom: 40px !important;
  }
}
@media (min-width:680px) and (max-width:992px){
  .homepage-hero .header .bg{
    height: 400px;
  }
  .homepage-hero .header,
  .homepage-hero .header .container{
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .homepage-hero .header .bg{
    height: 700px;
  }
  .homepage-hero .header{
    height: 700px
  }
  .homepage-hero .header .bg {
    justify-content: flex-start;
    text-align: center;
    background-position: 40% 120%;
    background-size: 100% auto;
  }
  .homepage-hero .header .bg h1, .homepage-hero .header .bg p, .homepage-hero .header .bg button.btn {
    margin: 0 auto;
  }
  .homepage-hero .header .bg h1 {
    padding-top: 30px;
    margin-bottom: 20px;
  }
  .homepage-hero .header .bg p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 680px) {
  .homepage-hero .header{
    height: auto;
  }
  .homepage-hero .header .bg {
    justify-content: flex-start;
    text-align: center;
    background-position: 40% 100%;
    background-size: 150% auto;
    height: 760px;
  }
  .homepage-hero .header .bg h1, .homepage-hero .header .bg p, .homepage-hero .header .bg button.btn {
    margin: 0 auto;
  }
}
@media screen and (max-width: 489px) {
  .homepage-hero .header{
    height: auto;
  }
  .homepage-hero .header .bg {
    height: 600px;
    background-position: bottom center;
  }
}
@media screen and (max-width: 360px) {
  .homepage-hero .header .bg {
    height: 500px;
    background-position: bottom center;
  }
}
